/*CSS  reset*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 32px;
    height: 32px;
}

body {
    background-image: url("images/background.jpg");
    min-width: 100vw;
    min-height: 100vh;
    padding: 1px;

}

.globalHeader {

    margin: 20px;

}

.searchForm {
    display: flex;
    justify-content: space-between;


}

.siteList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}



.searchForm>input {
    width: 100%;
    margin-right: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.searchForm>button {
    white-space: nowrap;
    padding: 0 28px;
    border: none;
    color: white;
    background: #8fd0ec;
    border-radius: 4px;
    cursor: pointer;

}

.globalMain {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.siteList .site:hover>.close {
    display: block;
    cursor: default;
}



.siteList .site {

    width: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;

}

.siteList .site>.logo {

    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;

}

.siteList .site>.link {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .site>.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}


.siteList .addButton {
    width: 160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
}


.siteList .addButton .icon {
    width: 56px;
    height: 56px;


}

.siteList .addButton .icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;



}



.siteList .addButton .text {

    font-size: 14px;
    margin-top: 4px;

}

@media (min-width:500px) {
    .searchForm {

        max-width: 400px;
        margin: 80px auto 100px;


    }

    .siteList {
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }

    .siteList>li {
        margin-right: 25px;
    }



}